@import "tailwindcss";

@theme {
  /* Definisikan warna custom dengan prefix --color- */
  --color-palette-1: #F1F3E0;
  --color-palette-2: #D2DCB6;
  --color-palette-3: #A1BC98;
  --color-palette-4: #778873;
}

@layer utilities {
  .brand-bullet {
    @apply w-3 h-3 bg-palette-3 opacity-40 mx-2;
  }

  .brand-bullet-active {
    @apply bg-red-800 scale-150 rounded-full opacity-100;
  }

  .brand-button-next,
  .brand-button-prev {
    @apply absolute top-1/2 -translate-y-1/2 z-20 p-2 rounded-full bg-black/30 text-white transition-all duration-300 cursor-pointer;
  }

  .brand-button-next {
    @apply right-3;
  }

  .brand-button-prev {
    @apply left-3;
  }

  .brand-button-next:hover,
  .brand-button-prev:hover {
    @apply bg-black/60 scale-110;
  }



}


@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
  }
}

/* FORCE MARKDOWN LIGHT MODE */
@media (prefers-color-scheme: dark) {
  .markdown-body {
    background-color: #ffffff !important;
    color: #24292f !important;

    --color-canvas-default: #ffffff !important;
    --color-fg-default: #24292f !important;
    --color-border-default: #d0d7de !important;
  }
}
